{% extends 'stationapp/base.html' %}
{% load static %}
{% block content %}

<h1>Seismic and Tsunami Network Development</h1>

<div class="jumbotron" style="background-image:url({%static "stationapp/bg.png"%}); background-size: cover;">
<h2 style="text-align:center">Meet the team!</h2>
<hr>
<div class="card-deck">

<div class="card col-sm-2" style="width: 18rem;">
  <img src="{% static "stationapp/aam.jpg" %}" class="card-img-top" alt="gio">
  <div class="card-body">
    <h5>Arnaldo A Melosantos</h5>
    <p class="card-text"><em>Supervising Science Research Specialist</em></p>
  </div>
</div>

<div class="card col-sm-2" style="width: 18rem;">
  <img src="{% static "stationapp/atg.jpg" %}" class="card-img-top" alt="gio">
  <div class="card-body">
    <h5>Alvin T Garil</h5>
    <p class="card-text"><em>Project Assistant I</em></p>
  </div>
</div>

<div class="card col-sm-2" style="width: 18rem;">
  <img src="{% static "stationapp/cega.jpg" %}" class="card-img-top" alt="gio">
  <div class="card-body">
    <h5>Christian Eric G Almira</h5>
    <p class="card-text"><em>Science Research Assistant</em></p>
  </div>
</div>

<div class="card col-sm-2" style="width: 18rem;">
  <img src="{% static "stationapp/ban.jpg" %}" class="card-img-top" alt="gio">
  <div class="card-body">
    <h5>Bryan A Nadimpally</h5>
    <p class="card-text"><em>Science Research Analyst</em></p>
  </div>
</div>

<div class="card col-sm-2" style="width: 18rem;">
  <img src="{% static "stationapp/june.jpg" %}" class="card-img-top" alt="gio">
  <div class="card-body">
    <h5>June Rostom Danganan</h5>
    <p class="card-text"><em>Project Assistant I</em></p>
  </div>
</div>

<div class="card col-sm-2" style="width: 18rem;">
  <img src="{% static "stationapp/gio.jpg" %}" class="card-img-top" alt="gio">
  <div class="card-body">
    <h5>Giovy F Ganipan</h5>
    <p class="card-text"><em>Project Assistant I</em></p>
  </div>
</div>

</div>
</div>


{% endblock %}
